[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
pylint = "*"
autopep8 = "*"

[packages]
invoke = "*"
jinja2 = "*"
notion = "*"
notion-client = "*"
markdown2 = "*"

[requires]
python_version = "3.8"
